.operation-button{
    height: 90px;
    width: 90px;
    background-color: rgba(44,44,47,255);
    color: rgb(12, 218, 26);
    align-items: center;
    justify-content: center;
    border: none;
    display: flex;
    border-radius: 50%;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.operation-button:hover{
    background-color: rgb(57, 63, 57);
}



